.temperature-extremes {
  display: none;
}
.temperature-extremes .temperature-extremes-icon {
  font-size: 2rem;
  color: firebrick;
}
.temperature-extremes .temperature-extremes-icon:hover {
  cursor: pointer;
}
