@import url("components/DisasterSelector/style.css");
@import url("components/Header/style.css");
@import url("components/Disasters/Drought/style.css");
@import url("components/Disasters/DustAndHaze/style.css");
@import url("components/Disasters/Wildfire/style.css");
@import url("components/Disasters/Floods/style.css");
@import url("components/Disasters/SevereStorms/style.css");
@import url("components/Disasters/Volcanoes/style.css");
@import url("components/Disasters/WaterColor/style.css");
@import url("components/Disasters/Landslides/style.css");
@import url("components/Disasters/SeaAndLakeIce/style.css");
@import url("components/Disasters/Earthquakes/style.css");
@import url("components/Disasters/Snow/style.css");
@import url("components/Disasters/TemperatureExtremes/style.css");
@import url("components/Disasters/Manmade/style.css");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
body .app-container {
  position: relative;
}
.map-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.wildfire-icon {
  font-size: 10px;
  color: red;
}
.location-info {
  position: absolute;
  top: 80px;
  right: 50;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
}
.location-info ul {
  list-style-type: none;
  padding: 0;
}
.location-info li {
  padding: 5px 0;
}
